.testimonial {
    width: 380px;
    /* height: 200px; */
    float: left;
    margin-right: 10px;
  }
  .testimonial-text {
    background: #f0f3fa;
    padding: 20px;
    line-height: 35px;
    border-radius: 10px;
  }
  .testimonial-detail {
    float: left;
    margin-top: 10px;
  }
  .testimonial-img {
    float: left;
  }
  .testimonial-img img {
    border: 2px solid black;
    width: 70px;
    border-radius: 50%;
  }
  .testimonial-name {
    margin-left: 10px;
    float: left;
  }
  .testimonial-name h5 {
    font-size: 18px;
    margin-top: 8px;
  }